body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
}
#u2080 {
  position:absolute;
  left:1px;
  top:1px;
  width:318px;
  height:16px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:0px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:31px;
}
#u2082 {
  position:absolute;
  left:1px;
  top:17px;
  width:318px;
  height:31px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:6px;
  width:314px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u2084 {
  position:absolute;
  left:12px;
  top:27px;
  width:9px;
  height:12px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:116px;
}
#u2086 {
  position:absolute;
  left:1px;
  top:58px;
  width:318px;
  height:116px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:50px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:79px;
}
#u2088 {
  position:absolute;
  left:1px;
  top:193px;
  width:318px;
  height:79px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:32px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  position:absolute;
  left:12px;
  top:71px;
  width:30px;
  height:18px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:12px;
  top:106px;
  width:30px;
  height:18px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u2094 {
  position:absolute;
  left:12px;
  top:134px;
  width:290px;
  height:1px;
  color:#666666;
}
#u2095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2096 {
  position:absolute;
  left:98px;
  top:106px;
  width:131px;
  height:18px;
  color:#999999;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:12px;
  top:145px;
  width:59px;
  height:18px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u2100 {
  position:absolute;
  left:12px;
  top:173px;
  width:290px;
  height:1px;
  color:#666666;
}
#u2101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2102 {
  position:absolute;
  left:245px;
  top:145px;
  width:55px;
  height:16px;
  color:#1E1E1E;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:12px;
  top:204px;
  width:30px;
  height:18px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u2106 {
  position:absolute;
  left:12px;
  top:95px;
  width:290px;
  height:1px;
  color:#666666;
}
#u2107 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2108 {
  position:absolute;
  left:98px;
  top:204px;
  width:164px;
  height:53px;
  color:#999999;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u2110 {
  position:absolute;
  left:12px;
  top:271px;
  width:290px;
  height:1px;
  color:#666666;
}
#u2111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112 {
  position:absolute;
  left:66px;
  top:297px;
  width:189px;
  height:40px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:11px;
  width:185px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u2114 {
  position:absolute;
  left:285px;
  top:221px;
  width:17px;
  height:23px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
