body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
}
#u2119 {
  position:absolute;
  left:1px;
  top:1px;
  width:318px;
  height:16px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:0px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:31px;
}
#u2121 {
  position:absolute;
  left:1px;
  top:17px;
  width:318px;
  height:31px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:6px;
  width:314px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u2123 {
  position:absolute;
  left:12px;
  top:27px;
  width:9px;
  height:12px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:219px;
}
#u2125 {
  position:absolute;
  left:10px;
  top:58px;
  width:300px;
  height:218px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:101px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:253px;
  top:25px;
  width:57px;
  height:16px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
