body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3138 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3139 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
}
#u3141 {
  position:absolute;
  left:1px;
  top:1px;
  width:318px;
  height:16px;
}
#u3142 {
  position:absolute;
  left:2px;
  top:0px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:31px;
}
#u3143 {
  position:absolute;
  left:1px;
  top:17px;
  width:318px;
  height:31px;
}
#u3144 {
  position:absolute;
  left:2px;
  top:6px;
  width:314px;
  word-wrap:break-word;
}
#u3145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u3145 {
  position:absolute;
  left:12px;
  top:27px;
  width:9px;
  height:12px;
}
#u3146 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3147 {
  position:absolute;
  left:54px;
  top:95px;
  width:225px;
  height:170px;
}
#u3148 {
  position:absolute;
  left:2px;
  top:76px;
  width:221px;
  word-wrap:break-word;
}
