body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u658 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
}
#u660 {
  position:absolute;
  left:1px;
  top:1px;
  width:318px;
  height:16px;
}
#u661 {
  position:absolute;
  left:2px;
  top:0px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:31px;
}
#u662 {
  position:absolute;
  left:1px;
  top:17px;
  width:318px;
  height:31px;
}
#u663 {
  position:absolute;
  left:2px;
  top:6px;
  width:314px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u664 {
  position:absolute;
  left:12px;
  top:27px;
  width:9px;
  height:12px;
}
#u665 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:1px;
  top:58px;
  width:318px;
  height:29px;
}
#u667 {
  position:absolute;
  left:2px;
  top:6px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u668 {
  position:absolute;
  left:9px;
  top:67px;
  width:12px;
  height:12px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:31px;
  top:64px;
  width:102px;
  height:18px;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:119px;
  top:64px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u674 {
  position:absolute;
  left:9px;
  top:97px;
  width:12px;
  height:12px;
}
#u675 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u676 {
  position:absolute;
  left:31px;
  top:96px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u678 {
  position:absolute;
  left:9px;
  top:125px;
  width:21px;
  height:15px;
  font-size:13px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u680 {
  position:absolute;
  left:9px;
  top:153px;
  width:21px;
  height:15px;
  font-size:13px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u682 {
  position:absolute;
  left:9px;
  top:181px;
  width:21px;
  height:15px;
  font-size:13px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u684 {
  position:absolute;
  left:9px;
  top:209px;
  width:21px;
  height:15px;
  font-size:13px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
